<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Accueil</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/joueurs.js"></script>
  <style>
    body{
      overflow-x: hidden;
    }
  </style>
</head>
<body>
  <div class="header" style="position: fixed; top: 0; background-color: white; height: 10vh; width: 100%; display: flex; align-items: center; box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);">
    <ul style="margin: 0;">
      <a href="index" style="text-decoration: none; color: black;"><li style="list-style-type: none;">CALCULGATOR</li></a>
    </ul>
  </div>
  