<%- include('header.ejs'); %>
<p>INDEX</p>

	<div class="container">
		<div class="row">
			<p id="champCalcul"></p>
			<input type="text" id="champReponse" placeholder="?" />
			<button type="button" class="btn btn-primary" id="boutonValider">Valider</button>
			<p id="resultat">...</p>
			<p id="timer">...</p>
		</div>
	</div>
<%- include('footer.ejs'); %>
