<%- include('header.ejs'); %>
<div class="container-fluid">
    <div class="row">
        <img src="https://i.pinimg.com/originals/5b/a6/9e/5ba69ef5b6ab1001bf9d441f2decb412.gif"/>
    </div>
    <div class="row">
        <h1>CALCULGATOR</h1>
    </div>
    <div class="row">
        <input type="submit" />
    </div>
</div>
<%- include('footer.ejs'); %>
