<%- include('header.ejs'); %>

	<div class="container">
		<div class="row" id="tour"></div>
		<div class="row" id="currentJoueur"></div>
		<div class="row">
			<p id="champCalcul"></p>
			<input type="text" id="champReponse" placeholder="?" />
			<button type="button" class="btn btn-primary" id="boutonValider">Valider</button>
			<p id="resultat">...</p>
			<p id="timer">...</p>
		</div>

		<div class="row col-12 m-5" id="podium">

			<div class="row col-12 flex-line" id="titles">
				<div class="col-3">Position</div>
				<div class="col-6">Nom</div>
				<div class="col-3">Score</div>
			</div>

			<div class="row col-12" id="listeJoueurs"></div>

		</div>
	</div>
	<p><%=listeNomsJoueurs%></p>
	<script>
		let listeNomJoueurs = '<%- JSON.stringify(listeNomsJoueurs) %>';
		listeNomJoueurs = JSON.parse(listeNomJoueurs);
		let listeNomJoueursArray = listeNomJoueurs.split(',');
		console.log(listeNomJoueursArray);
		for (const joueur of listeNomJoueursArray) {
			ajouterJoueur(joueur);
		}
	  </script>
<script src="js/main.js"></script>
<script src="js/podium.js"></script>
<%- include('footer.ejs'); %>
